/* declaring variables  */
:root {
    --red: #e00707;
    --black: #2d2e2f;
}


/* reset default styles*/
body,
p,
a,
ul,
li,
h2,
h1,
h6 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */
body {
    background: white;
    overflow-x: hidden;
}

@font-face {
    font-family: "Open Sans-bold";
    src: url("assets/fonts/open-sans-bold.woff2");
}

@font-face {
    font-family: "Open Sans-semibold";
    src: url("assets/fonts/open-sans-semibold.woff2");
}

@font-face {
    font-family: "Open Sans-regular";
    src: url("assets/fonts/open-sans-regular.woff2");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("assets/fonts/poppins-medium.woff2");
}

@font-face {
    font-family: "Poppins-bold";
    src: url("assets/fonts/poppins-bold.woff2");
}

* {
    font-family: "Open Sans-regular" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--black);
}



/* general styles */
.invert-color {
    filter: invert(1);
}

.square-button {
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    box-sizing: border-box;
}

.square-button.red {
    background-color: var(--red);
    color: white;
}


/* header section starts  */
header {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1040px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 24px 40px;
    z-index: 10;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.624), rgba(0, 0, 0, 0.491),rgba(0, 0, 0, 0.206),rgba(0, 0, 0, 0.096), transparent);
}

header>img {
    position: absolute;
    top: 28px;
    left: 40px;
}

header * {
    color: white;
}

header>div {
    display: flex;
}

header ul {
    display: flex;
    column-gap: 12px;
    margin-left: 56px !important;
    align-items: center;
}

header ul li {
    margin-top: 2px;
    min-width: max-content;
}

.square-button.transparent {
    font-family: "Open Sans-semibold" !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: transparent;
}

header .square-button.transparent {
    margin-right: 4px;
    display: flex;
    column-gap: 4px;
    margin-top: 0px;
}

.square-button.outlined,
.square-button.red {
    font-family: "Poppins-medium" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .square-button.outlined {
    border: 2px solid #c8c9ca;
    padding: 8px 16px;
    background-color: transparent;
}

header .square-button.red {
    padding: 10px 16px;
}

.search-bar-small{
    display: none;
}

.search-bar {
    background-color: white;
    min-width: 320px;
    width: 100%;
    max-width: 49.85vw;
    height: 48px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    flex: 1;
    margin-left: 112px !important;
}

.search-bar>input, .search-bar-small input {
    flex: 1;
    padding: 0 16px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.599);
    min-width: 0px;
}

.search-bar>input:not(:first-child),.search-bar-small input:not(:first-child) {
    border-left: 2px solid #ebebeb;
    padding-left: 15px;
    color: #2d2e2f;
}

.search-button {
    background-color: var(--red);
    height: 100%;
    width: 56px;
    display: grid;
    place-items: center;
}

.search-button img {
    margin-top: 2px;
}

.dropdown-section{
    display: flex;
    min-width:676px;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 89px;
    z-index: 10;
}

.dropdown-spacer{
    width: 568px;
}

.dropdowns {
    color: white;
    display: flex;
    column-gap: 32px;
    box-sizing: border-box;
    align-self: flex-end;
    flex: 1;
    margin-left: 168px !important;
    min-width: max-content;
    width: 100%;
    max-width: 49.85vw;
}

.dropdowns>li {
    display: flex;
    column-gap: 4px;
    color: white;
}

.dropdowns>li>img {
    margin-top: -3px;
}

/* header section ends  */


/* banner starts*/
.banner {
    width: 100%;
    height: 682px;
    overflow: hidden;
    background-image: url("https://s3-media0.fl.yelpcdn.com/educatorphoto/k0oFer3y9EnL-Id0DONTQg/o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-gradient{  
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,#0006,#0000001a 55%);
}

.banner-divs {
    display: flex;
    min-width: 610px;
    width: 100vw;
    z-index: 10;
    position: absolute;
    top: 194px;
    justify-content: flex-end;
}

.banner-divs * {
    color: white;
}


.spacer-div {
    width: 568px;
}

.banner-content {
    display: flex;
    flex-flow: column;
    row-gap: 96px !important;
    flex: 1;
    min-width: max-content;
    width: 100%;
    max-width: 49.85vw;
    padding-left: 48px !important;
}

.banner-content-top {
    display: flex;
    flex-flow: row;
    height: 288px;
    column-gap: 31px;
    width: 100%;
}

.banner-content-top>div:last-child {
    display: flex;
    flex-flow: column;
    row-gap: 24px;
}

.banner-content-top>.side-bars {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.banner-content-top>.side-bars>div {
    width: 10px;
    height: 33.33%;
    border-radius: 30px;
    background-color: white;
}

.banner-content-top>div>h1{
    font-family: "Poppins-bold" !important;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.4px;
    font-weight: 500;
    color: white;
    margin-top: 8px;
    width: 100%;
    max-width: 500px;
}

.banner-content-top>div p {
    font-family: "Poppins-medium" !important;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2px;
    font-weight: 500;
}

.banner-content-top .square-button.red {
    display: flex;
    column-gap: 8px;
    padding: 11px 32px;
}

.banner-content-bottom {
    display: flex;
    flex-flow: column;
    color: white;
    margin-left: 1px;
    min-width: max-content;
}

.banner-content-bottom h1,.banner-content-bottom p>b {
    font-family: "Open Sans-bold" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 500;
}

.banner-content-bottom p {
    font-family: "Open Sans-regular" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
}

/* banner ends  */

/* content starts  */
main {
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 30px;
}

main * {
    margin-left: 0;
}

main>h1 {
    font-family: "Poppins-bold" !important;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.4px;
    font-weight: 500;
    padding: 57px 0;
    text-align: center;
}

main>h1:not(:first-child) {
    padding: 0;
    padding-top: 48px;
}

main>.text-button {
    display: flex;
    width: max-content;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 56px;
    column-gap: 8px;
}

main>.text-button * {
    color: #027a97;
    font-family: "Open Sans-semibold" !important;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 500;
}

main>.text-button *:hover{
    text-decoration: underline;
    color: #027a97;
    cursor: pointer;
}

main>hr{
    border: 0;
    margin: 0;
    padding: 0 30px;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}

/* activities  */
main .activities {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    max-width: 1138px;
    box-sizing: border-box;
    margin: 0 30px;
}

main .activities img {
    cursor: pointer;
}

.card {
    border: 1px solid #ebebeb;
    padding: 0 15px;
    height: min-content;
    border-radius: 5px;
}

.card .card-header {
    padding: 16px 0;
    display: flex;
    column-gap: 8px;
}

.card .card-header h1 {
    font-family: "Open Sans-semibold" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 500;
}

.card .card-header p,
.card.type-two ul li {
    font-family: "Open Sans-regular" !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #7d7f80;
}

.card.type-two .card-header {
    border-bottom: 1px solid #ebebeb;
}

.card .card-header img {
    border-radius: 50%;
    height: 40px;
}

.card .card-body {
    padding: 16px 0;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-flow: column;
    row-gap: 8px;
}

.card .card-body h1 {
    font-family: "Poppins-bold" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 400;
    cursor: pointer;
}

.card .card-body h1:hover {
    text-decoration: underline;
}

.card.card.card.type-three .card-body {
    border: none;
}

.card a {
    font-family: "Open Sans-semibold" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #027a97;
    cursor: pointer;
}

.card a:hover {
    text-decoration: underline;
}

.card.card.card.type-three a::after {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
}

.card>a {
    padding-bottom: 15px;
}

.card .ratings {
    display: flex;
    column-gap: 2px;
}

.card .ratings>p {
    margin-left: 8px;
}

.card .card-image {
    width: 100%;
    height: 110px;
    overflow: hidden;
}

.card.type-one .card-image {
    height: 150px;
    margin: 0 -15px;
    width: auto;
}

.card .card-image img {
    object-fit: cover;
    width: 100%;
}

.card .card-comments {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

.card .card-comments img {
    border-radius: 50%;
    padding: 9px;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.card .card-comments img:hover {
    background-color: #ebebeb86;
}

.card.card.type-two .card-comments,
.card.card.type-three .card-comments {
    padding-left: 2px;
    justify-content: flex-start;
}

.card.card.type-two .card-comments img,
.card.card.type-three .card-comments img {
    border-radius: 16px;
}

.card .card-image-section {
    display: flex;
    column-gap: 10px;
    margin-bottom: 30px;
}

.card .card-image-section>div {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.card.type-two ul {
    display: flex;
    column-gap: 20px;
}

.card.type-two ul li:not(:first-child) {
    list-style-type: disc;
}

/* categories  */
main .categories {
    padding: 40px 0px 48px 0px;
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 1144px;
}

.categories * {
    font-family: "Open Sans-semibold" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--black);
    text-align: center;
}

.categories>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
}

.categories>ul>li {
    display: grid;
    row-gap: 20px;
    place-items: center;
    /* text-align:justify; */
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 48px 0 49px 0;
    /* margin: 0 20px; */
    min-width: 0px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.categories>ul>li:hover {
    box-shadow: 0px 0px 8px 2px #ebebeb;
}

/* content ends  */

/* footer starts  */
footer{
    background-color: #f7f7f7;
    padding: 59px 30px 58px 31px;
    display: flex;
    flex-flow: column;
    row-gap: 56px;
    align-items: center;
}

footer>div{
    width: 100%;
    max-width: 1145px;
    display: flex;
}

footer>div>ul{
    display: flex;
    flex-flow: column;
    row-gap: 8px;
    width: 100%;
    max-width: 294px;
}

footer>div>ul>li,footer>div>div>ul>li{
    font-family: "Open Sans-regular" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 400;
    color: #6e7072;
}

footer>div>ul>li:first-child,footer>div>div>p{
    font-family: "Open Sans-bold" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 9px;
}

footer>div>div{
    display: flex;
    flex-flow: column;
    row-gap: 12px;
}

footer>div>div>ul{
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-top: -16px;
}

footer>div>div>ul img{
    filter: invert(0.4);
    margin-top: 6px;
}

footer>div>p{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #6e7072;
    display: flex;
    align-items: center;
}

footer>div>p>img{
    height: 19px;
    margin-bottom: 2px;
}

footer>div>p>img:last-child{
    height: 16px;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 5px;
}


/* footer ends  */







/* ............................................................................  */
/* responsive design  */

@media screen and (max-width:1454px) {
    header {
        justify-content: space-between !important;
        column-gap: 0;
    }

    .search-bar {
        width: 10% !important;
    }

    header ul {
        margin-left: 24px !important;
    }
}

@media screen and (max-width:1024px) {
    main .activities {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }

    .banner-content{
        padding-left: 39px !important;
    }
}

@media screen and (max-width:749px) {
    .search-bar{
        display: none;
    }

    header{
        z-index: 11;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.536), transparent,transparent,transparent);
    }
    
    .search-bar-small{
        display: flex;
        flex-flow: column;
        row-gap: 12px;
        margin-left: 112px !important;
        z-index: 11;
        max-width: max-content;
    }

    .search-bar-small>div{
        background-color: white;
        width: 308px;
        height: 48px;
        display: flex;
        column-gap: 1px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        overflow: hidden;
        padding: 0 0 0 18px;
        box-sizing: border-box;
    }

    .search-bar-small>div>input{
        border: none;
        border-color: white;
        margin-top: -2px;
    }

    .search-bar-small input:not(:first-child) {
        border-left: none;
    }

    footer>div>p{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    main{
        padding: 0 24px;
    }

    main>h1:first-child{
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
    }

    main .activities {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }

    main .categories ul li {
        height: min-content;
    }

    .banner-content{
        padding-left: 31px !important;
    }

    .spacer-div{
        display: none;
    }

    .banner-divs{
        min-width: 100%;
    }

    .banner-content{
        min-width: 100%;
        box-sizing: border-box;
    }

    
.banner-content-top>div>h1 {
    min-width: 0px;
    padding-right: 20px;
}



}

@media screen and (max-width:330px) {

    .banner-content-top>div{
        margin-right: 20px;
    }

    .banner-content-top .square-button.red{
        min-width: max-content;
    }
    
}